<launch>

  <param name="task_name" type="string" value="pegring"/>
  <param name="asp_name" type="string" value="pegring_sequential.lp"/>
  <param name="dvrk_frame_id" type="string" value=""/>
  <!-- <param name="dvrk_frame_id" type="string" value="_new"/> -->

  <node
    pkg="robot_control"
    type="sensing_pegring.py"
    name="sensing_node"
    output="screen"
    respawn="false"
  />

  <node
    pkg="task_reasoning"
    type="ILP_pegring.py"
    name="ILP_node"
    output="screen"
    respawn="false"
  />

  <node
    pkg="task_reasoning"
    type="ASP_manager.py"
    name="ASPplanner"
    output="screen"
    respawn="false"
  />

  <node
    pkg="robot_control"
    type="control.py"
    name="control_node"
    output="screen"
    respawn="false"
  />

</launch>


