<launch>

  <param name="task_name" type="string" value="pegring"/>
  <param name="dvrk_frame_id" type="string" value=""/>
  <!-- <param name="num_ex" type="int" value="0"/> -->
  <!-- <param name="dvrk_frame_id" type="string" value="_new"/> -->

  <node
    pkg="robot_control"
    type="sensing_pegring.py"
    name="sensing_node"
    output="screen"
    respawn="false"
  />

  <node
    pkg="task_reasoning"
    type="fsm.py"
    name="FSM"
    output="screen"
    respawn="false"
  />

  <node
    pkg="robot_control"
    type="control.py"
    name="control_node"
    output="screen"
    respawn="false"
  />

</launch>


