<launch>

    <node name="colorSeg" pkg="util_pkg" type="color_segmentation" args="" respawn="false" output="screen">
        <!--launch-prefix="xterm -e gdb - -args" -->
        <!--launch-prefix="gnome-terminal -e gdb"> -->
        
        <param name="cld_topic_name" type="string" value="/camera/depth_registered/points"/>
        <param name="fixed_frame" type="string" value="/world"/>
        <param name="optical_frame" type="string" value="/camera_color_optical_frame"/>
        <param name="voxel_size" value="0.001"/>

        <!-- <rosparam param="hsv_range"> [35,70,0.30,1] </rosparam>  -->

        <rosparam param="hsv_range"> [200,280,0.20,1] </rosparam> 
    </node>


</launch>